<!DOCTYPE html>
<html lang="en" xmlns="[http://www.thymeleaf.org]">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/correntistas/save}" method="POST" th:object="${Correntista}">
        <input type="hidden" th:field="*{id}"/>
        <label for="item">Nome</label>
        <input type="text" th:field="*{Nome}"/>
        <label for="item">Senha</label>
        <input type="text" th:field="*{senha}"/>
        <button type="submit">Cadastrar correntista</button>
    </form>
</body>
</html>